#crm-main-content-wrapper {
  form {
    .crm-block {
      .crm-public-form-item {
        fieldset legend {
          display: none !important;
        }

        & {
          border-top: none !important;
        }

        &.crm-section {
          display: grid !important;

          &.is_recur-section .content {
            justify-self: flex-start;
            display: block;
            margin-top: -15px;
          }
          #is_recur {
            position: relative;
            top: 10px;
          }
          #recurHelp {
            font-size: 14px;
            font-weight: 400;
            font-family: "Open Sans", sans-serif !important;
            margin-bottom: 10px;
          }
        }

        .content {
          margin-left: 0 !important;
          gap: 30px;
          align-items: center;

          input {
            border: 1px solid rgba(0, 0, 0, 0.3) !important;
            border-radius: 4px !important;
            padding: 7px !important;
            background-image: none !important;
          }

          div {
            a {
              background-image: none !important;

              span {
                border-left: none !important;
                background-image: none !important;
                background: #ffffff !important;

                b {
                  top: 9px !important;
                  left: 0 !important;
                }
              }
            }
          }
        }

        fieldset > div:nth-last-child(-n+2) {
          display: none;
        }

        fieldset > div:nth-last-child(3) .label {
          display: none !important;
        }

        fieldset > div:nth-last-child(3) .content .crm-multiple-checkbox-radio-options .crm-option-label-pair label {
          position: relative;
          top: -10px;
          left: 13px;
          font-size: 14px;
          font-weight: 400;
          font-family: "Open Sans", sans-serif !important;
        }

        fieldset > div:nth-last-child(3) .content .crm-multiple-checkbox-radio-options .crm-option-label-pair input {
          position: relative;
          top: 8px;
        }

        #on-behalf-block fieldset > div:nth-last-child(-n+2) {
          display: flex !important;
        }

        &.is_for_organization-section {
          width: 56% !important;
        }

        .label {
          text-align: justify !important;
          width: 50% !important;
          font-family: "Open Sans", sans-serif !important;
          line-height: 16px !important;
          padding-left: 0 !important;
        }

        .crm-profile {
          display: block !important;
          margin-top: 0 !important;

          div {
            width: 100% !important;
          }
          .select2-container {
            font-size: 14px !important;
            font-family: "Open Sans", sans-serif !important;
          }
        }

        .content label {
          font-family: "Open Sans", sans-serif !important;
          line-height: 16px !important;
        }

        .content .crm-form-radio {
          max-width: 22px !important;
        }
      }

      #priceset-div {
        .crm-section .crm-section {
          display: grid !important;
          border-top: none !important;

          .label {
            text-align: justify !important;
            width: 50% !important;
            font-family: "Open Sans", sans-serif !important;
            line-height: 16px !important;
            padding-left: 0 !important;
          }

          .content {
            input {
              border: 1px solid rgba(0, 0, 0, 0.3) !important;
              border-radius: 4px !important;
              padding: 7px !important;
              background-image: none !important;
            }
          }
        }
      }

      #billing-payment-block {
        display: none !important;
      }

      #crm-submit-buttons {
        button {
          font-weight: 400;
          font-family: "Open Sans", sans-serif !important;
          font-size: 14px;
          line-height: 16px;
          height: 45px;
          width: 100%;
          background-color: #d64631 !important;
          border: none;
          border-radius: 4px !important;

          i {
            display: none !important;
          }
        }
      }
    }

    .crm-block {
      #priceset-div {
        .crm-section .crm-section .label {
          text-align: justify !important;
          width: 50% !important;
          font-family: "Open Sans", sans-serif !important;
          line-height: 16px !important;
          padding-left: 0 !important;
        }

        .content {
          margin-left: 0 !important;
          gap: 30px;
          align-items: center;
        }
      }

      .crm-public-form-item {
        .label {
          text-align: justify !important;
          width: 50% !important;
          font-family: "Open Sans", sans-serif !important;
          line-height: 16px !important;
          padding-left: 0 !important;
        }

        .content {
          margin-left: 0 !important;
          gap: 33px;
          align-items: center;
        }
      }

      .crm-block {
        fieldset legend {
          text-align: justify !important;
          width: 50% !important;
          font-family: "Open Sans", sans-serif !important;
          line-height: 16px !important;
          padding-left: 0 !important;
        }
      }
    }
  }
}

.select2-drop ul li div {
  font-weight: 400;
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px;
  line-height: 16px;
}

#crm-container .crm-title {
  display: none !important;
}

#crm-main-content-wrapper {
  form {
    .crm-block {
      .crm-group {
        &.amount_display-group {
          .display-block {
            margin-left: 0 !important;
          }
        }
      }
      fieldset {
        fieldset {
          > div:nth-last-child(-n+2) {
            display: none !important;
          }
          > div:nth-last-child(-n+3) {
            display: none !important;
          }
          legend {
            display: none !important;
          }

          .header-dark {
            width: 100% !important;
            padding: 11px 3px 9px 8px !important;
          }

          div {
            margin: 12px 7px 0px 1px !important;
            padding: 11px 3px 10px 1px !important;
            width: 100% !important;
            margin-bottom: -18px !important;

            .label label {
              font-weight: 600 !important;
            }
          }
        }

        border-top: none !important;
      }

      #thankyou_text p {
        place-self: center !important;
        margin-bottom: 50px;
      }

      .help {
        .bold p,
        .crm-group .header-dark,
        .crm-group .display-block,
        .crm-group .crm-section div {
          font-weight: 400;
          font-family: "Open Sans", sans-serif !important;
          font-size: 14px;
          line-height: 16px;
          margin-left: 0 !important;
        }

        div {
          font-size: 12px !important;
        }
      }
    }
  }
}

#crm-container .crm-public-footer {
  display: none !important;
}

// Media Queries
@media (min-width: 375px) and (max-width: 768px) {
  #crm-main-content-wrapper {
    form {
      .crm-block {
        .crm-public-form-item {
          .crm-profile div {
            .label {
              text-align: justify !important;
            }

            .content {
              margin-left: 0 !important;
            }

            width: 85vw !important;
          }
        }

        #priceset-div {
          .crm-section .crm-section .content {
            input {
              margin-right: 20px !important;
            }

            div span label {
              float: inline-start !important;
            }
          }
        }
      }

      .crm-block {
        fieldset fieldset {
          div {
            padding: 5px 113px 0px 0px !important;
            flex: none !important;
            margin: 1px !important;
          }

          .header-dark {
            width: 57% !important;
          }
        }
      }
    }
  }
}
